<div class="container">
  <div class="right-side">
    <div class="tui-col_md-4 tui-center login-box padding-fix">
      <tui-island class="rtl card">
        <div class="welcome-text">
          <h3 class="">أنشاء حساب جديد</h3>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="signup()" class="b-form">
          <div class="tui-col_md-12">
            <tui-input class="input">
              اسم المستخدم
              <input placeholder="محمد احمد" tuiTextfield type="text" />
            </tui-input>

            <tui-input
              tuiHintDirection="bottom-right"
              formControlName="email"
              class="input"
            >
              البريد الألكتروني
              <span class="tui-required"></span>
              <input
                autocomplete="email"
                placeholder="name@mail.com"
                tuiTextfield
                type="email"
              />
            </tui-input>
            <tui-error
              formControlName="email"
              [error]="[] | tuiFieldError | async"
            ></tui-error>

            <tui-input-password
              formControlName="password"
              tuiHintDirection="bottom-right"
              class="input"
            >
              كلمه المرور
              <span class="tui-required"></span>
              <input tuiTextfield type="password" />
            </tui-input-password>
            <tui-error
              formControlName="password"
              [error]="[] | tuiFieldError | async"
            ></tui-error>

            <tui-input-password
              formControlName="confirmPassword"
              class="input"
              [pseudoInvalid]="signupForm.errors?.['passwordMatchError'] && signupForm.controls.password.touched"
            >
              تأكيد كلمه المرور
              <span class="tui-required"></span>
              <input tuiTextfield type="password" />
            </tui-input-password>
            <tui-error
              formControlName="confirmPassword"
              [error]="[] | tuiFieldError | async"
            ></tui-error>

            <button
              tuiButton
              class="btn-width"
              [disabled]="signupForm.invalid"
            >
              أنشاء حساب
            </button>

            <div class="signup-help">
              <p>
                هل لديك حساب بالفعل؟
                <a tuiLink routerLink="/login">تسجيل الدخول</a>
              </p>
            </div>
          </div>
        </form>
      </tui-island>
    </div>
  </div>

  <div class="tui-col_md-4 left-side">
    <img
      class="logo"
      src="../../../../assets/images/logo.png"
      alt="mys-logo"
      routerLink="/"
      style="cursor: pointer"
    />
  </div>
</div>

<tui-root></tui-root>
