.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.logo {
    max-width: 25rem;
    height: auto;
}

.text {
    max-width: 30rem;
    direction: rtl;
}

.text p {
    font-weight: 500;
    font-family: var(--main-font);
}

@media (max-width: 868px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse
    }

    .logo {
        max-width: 20rem;
    }
}

@media (max-width: 425px) {
    .logo {
        max-width: 15rem;
    }   
}