<div class="container">
    <div class="text">
        <p class="tui-text_body-l">
          سيتم التعامل مع هذه المعلومات بسرية تامة ، يقتصر الوصول إليها الأشخاص
          المعنيين. نرجو التأكد من سلامة وصحة البيانات تقع علي مسؤولياتك الشخصية ولن
          يقبل أي إجراء أي تعديلات عليها. شكرا لكم لاستكمالكم هذا الطلب واهتمامكم في
          التقديم واللإنضمام إلينا.
          <br>
          <br>
          نص القانون على أنه لكل مواطن مصري بلغ 15 سنة استخراج
          بطاقة تحقيق شخصية، ونص قانون رقم 143 لسنة 1994 بإصدار قانون الأحوال المدنية
          وفقاً لآخر تعديل صادر في 3 نوفمبر عام 2022 في مادة 48 :"يجب على كل من يبلغ
          خمسة عشر عامًا من مواطني جمهورية مصر العربية أن يتقدم بطلب للحصول على بطاقة
          تحقيق شخصية من قسم السجل المدني الذي يقيم بدائرته وذلك خلال ستة أشهر من تاريخ
          بلوغه السن.
        </p>
    </div>
    <img src="../../../../../assets/images/logo.png" class="logo" alt="">
</div>
