.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.logo {
    width: 25rem;
    height: auto;
}

.text {
    width: 30rem;
    direction: rtl;
    /* font-family: var(--main-font); */
}

.text p {
    font-weight: 500;
}