<div class="container">
    <div class="right-side">
      <div class="tui-col_md-4 tui-center login-box">
        <tui-island class="rtl card">
          <div class="welcome-text">
              <h3 class="">هل نسيت كلمة المرور؟</h3>
          </div>
            <div class="tui-col_md-6">
                <tui-input
                tuiHintDirection="bottom-right"
                tuiTextfieldIconLeft="tuiIconSearchLarge"
                class="input"
              >
                البريد الألكتروني
                <input tuiTextfield />
              </tui-input>
              <p>سنرسل رابط الي هذا البريد الالكتروني</p>
              <button class="btn">تسجيل الدخول</button>
            </div>
  
        </tui-island>
      </div>
    </div>
  
    <div class="tui-col_md-4 left-side">
      <img class="logo" src="../../../../assets/images/logo.png" alt="mys-logo" />
    </div>
  </div>
  