<div class="main-container">
  <tui-island [textAlign]="'right'" class="container">
    <p class="card-title">تغير كلمه المرور</p>
  
    <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
      <div class="tui-form__row">
        <tui-input-password
          tuiHintContent="لا يدعمه Safari أدناه 12.1"
          ytuiHintContent="لا يدعمه Safari أدناه 12.1"
          tuiHintDirection="bottom-right"
          tuiTextfieldIconLeft="tuiIconSearchLarge"
          formControlName="oldPassword"
          class="input single-input"
        >
          كلمه المرور القديمة
          <input placeholder="اكتب الاستعلام الخاص بك" tuiTextfield />
        </tui-input-password>
        <tui-error
          formControlName="oldPassword"
          [error]="[] | tuiFieldError | async"
        ></tui-error>
      </div>
      <div class="tui-form__row">
        <tui-input-password
          tuiHintContent="لا يدعمه Safari أدناه 12.1"
          tuiHintDirection="bottom-right"
          tuiTextfieldIconLeft="tuiIconSearchLarge"
          formControlName="newPassword"
          class="input single-input"
        >
          كلمه المرور الجديده
          <input placeholder="اكتب الاستعلام الخاص بك" tuiTextfield />
        </tui-input-password>
        <tui-error
          formControlName="newPassword"
          [error]="[] | tuiFieldError | async"
        ></tui-error>
      </div>
      <button tuiButton type="button" class="btn" appearance="secondary">Button</button>
    </form>
  </tui-island>
</div>
