<form [formGroup]="basicInfoForm" (ngSubmit)="next()">
  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <tui-input
        tuiTextfieldCustomContent=""
        formControlName="fullName"
        class="input"
      >
        الأسم
        <span class="tui-required"></span>
      </tui-input>
      <tui-error [error]="arabicOnlyError"></tui-error>
      <tui-error
        formControlName="fullName"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field">
      <tui-input-number
        formControlName="nationalId"
        class="input"
        [max]=99999999999999
      >
        الرقم القومي
        <span class="tui-required"></span>
      </tui-input-number>
      <tui-error [error]="nationalIDError"></tui-error>
      <tui-error
        formControlName="nationalId"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
  </div>

  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <!-- <tui-input
        tuiTextfieldCustomContent=""
        formControlName="government"
        class="input"
      >
        المحافظه
        <span class="tui-required"></span>
      </tui-input>
     -->
      <label>
        <tui-combo-box
            formControlName="government"
            [stringify]="govStringify"
        >
        المحافظه
        <tui-data-list-wrapper
            *tuiDataList
            [itemContent]="govStringify | tuiStringifyContent"
            [items] = "govs | tuiFilterByInputWith: govStringify"
        >
        </tui-data-list-wrapper>
      </tui-combo-box>
      </label>
      <tui-error
        formControlName="government"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field">
      <tui-input formControlName="district" class="input">
        القسم الأداري
        <span class="tui-required"></span>
      </tui-input>
      <tui-error
        formControlName="district"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
  </div>

  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <tui-input
        tuiTextfieldCustomContent=""
        formControlName="adminstration"
        class="input"
      >
        الجهة التابعه
        <span class="tui-required"></span>
      </tui-input>
      <tui-error
        formControlName="adminstration"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field">
      <tui-input formControlName="subAdmin" class="input">
        الأدارة التعليميه
        <span class="tui-required"></span>
      </tui-input>
      <tui-error
        formControlName="subAdmin"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
  </div>

  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <tui-input-date
        formControlName="dob"
        tuiUnfinishedValidator="Finish filling the field"
        tuiDropdownAlign="right"
        style="text-align: right"
        [readOnly]="true"
      >
        تاريخ الميلاد
      </tui-input-date>
    </div>
  </div>

  <div class="tui-form__row tui-form__row_multi-fields">

    <div class="tui-form__multi-field">
      <div class="radioContainer">
        <p>النوع</p>
        <div class="label-container">
          <div class="label">
            <tui-radio
              formControlName="gender"
              item="male"
              size="l"
              [readOnly]="true"
            ></tui-radio>
            <p>ذكر</p>
          </div>
          <div class="label">
            <tui-radio
              formControlName="gender"
              item="female"
              size="l"
              [readOnly]="true"
            ></tui-radio>
            <p>انثي</p>
          </div>
        </div>
      </div>

    </div>

    <div class="tui-form__multi-field">
      <div class="radioContainer">
        <p>الديانة</p>
        <div class="label-container">
          <div class="label">
            <tui-radio
              formControlName="religion"
              item="muslim"
              size="l"
            ></tui-radio>
            <p>مسلم</p>
          </div>
          <div class="label">
            <tui-radio
              formControlName="religion"
              item="christian"
              size="l"
            ></tui-radio>
            <p>مسيحى</p>
          </div>
        </div>
      </div>

    </div>



  </div>

  <div class="tui-form__row">
    <div class="tui-form__multi-field">
      <div class="radioContainer">
        <p>هل لديك اعاقه؟</p>
        <div class="label-container">
          <div class="label">
            <tui-radio
              formControlName="disability"
              item="yes"
              size="l"
            ></tui-radio>
            <p>نعم</p>
          </div>
          <div class="label">
            <tui-radio
              formControlName="disability"
              item="no"
              size="l"
            ></tui-radio>
            <p>لا</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="tui-form__row" style="justify-content: flex-end">
    <button
    type="submit"
    tuiButton
    [disabled]="basicInfoForm.invalid"
    appearance="secondary">التالي</button>
  </div>
</form>

