form {
    direction: rtl;
}

.tui-form__multi-field {
    margin-left: 0;
    margin-right: 1.25rem;
}

.input {
    direction: rtl;
    text-align: right;
}

.tui-form__row {
    display: flex;
    align-items: center;
}


.radioContainer > p:first-child {
    font-weight: 700;
}

.radioContainer > p {
    font-family: var(--main-font);
    margin-left: 10px;
    font-size: 1.2rem;
}

tui-radio {
    margin-left: 5px;
}

.label-container {
    display: flex;
    gap: 0.8rem
}

.label {
    display: flex;
    align-items: center;
    border: 2px solid hsl(220, 17%, 93%);
    padding: 8px 12px;
    border-radius: 8px;
}

.label > p {
    margin: 0;
    font-weight: 600;
    font-family: var(--main-font);
}

tui-combo-box {
    text-align: right;
}

@media (min-width: 768px) {
    .tui-form__row .tui-form__multi-field:first-child {
        margin-right: 0;
    }
  }

  @media (max-width: 768px) {
    .tui-form__row .tui-form__multi-field {
        margin-right: 0;
    }
  }