<form [formGroup]="basicInfoForm" (ngSubmit)="next()">
  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <tui-input
        tuiTextfieldCustomContent=""
        formControlName="fullName"
        class="input"
      >
        الأسم
        <span class="tui-required"></span>
      </tui-input>
      <tui-error [error]="arabicOnlyError"></tui-error>
      <tui-error
        formControlName="fullName"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field">
      <tui-input
        formControlName="nationalId"
        class="input"
        [maskito]="maskOptions"
      >
        الرقم القومي
        <span class="tui-required"></span>
      </tui-input>
      <tui-error [error]="nationalIDError"></tui-error>
      <tui-error
        formControlName="nationalId"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
  </div>

  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <label>
        <tui-combo-box
          formControlName="governorate"
          (ngModelChange)="getDistricts()"
          [stringify]="govStringify"
        >
          المحافظه
          <ng-template tuiDataList>
            <tui-data-list-wrapper
              *ngIf="showLoader(govs); else loading"
              emptyContent="جاري تحميل المحافظات"
              [itemContent]="govStringify | tuiStringifyContent"
              [items]="govs | tuiFilterByInputWith : govStringify"
            >
            </tui-data-list-wrapper>
          </ng-template>
          <ng-template #loading>
            <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
          </ng-template>
        </tui-combo-box>
      </label>
      <tui-error
        formControlName="governorate"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field">
      <label>
        <tui-select
          formControlName="district"
          (ngModelChange)="districtSelected()"
          [stringify]="districtStringify"
        >
          الحي
          <ng-template tuiDataList>
            <tui-data-list-wrapper
              *ngIf="showLoader(districts, ['governorate']); else loading"
              emptyContent="أختر المحافظه"
              [itemContent]="districtStringify | tuiStringifyContent"
              [items]="districts"
            >
            </tui-data-list-wrapper>
          </ng-template>
        </tui-select>
      </label>
      <tui-error
        formControlName="district"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
  </div>

  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <label>
        <tui-select
          formControlName="affiliateParty"
          (ngModelChange)="setPartyDropdown()"
          [stringify]="affiliatePartyStringify"
        >
          الجهة التابعه
          <ng-template tuiDataList>
            <tui-data-list-wrapper
              *ngIf="showLoader(affiliateParties); else loading"
              [itemContent]="affiliatePartyStringify | tuiStringifyContent"
              [items]="affiliateParties"
            >
            </tui-data-list-wrapper>
          </ng-template>
        </tui-select>
      </label>
      <tui-error
        formControlName="affiliateParty"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field" *ngIf="selectedParty == 1">
      <label>
        <tui-select
          formControlName="eductionAdministration"
          [stringify]="eduAdminStringify"
        >
          الأدارة التعليميه
          <ng-template tuiDataList>
            <tui-data-list-wrapper
              *ngIf="showLoader(eduAdmins, ['governorate', 'affiliateParty']); else loading"
              emptyContent="أختر المحافظه و الجهة التابعه"
              [itemContent]="eduAdminStringify | tuiStringifyContent"
              [items]="eduAdmins"
            >
            </tui-data-list-wrapper>
          </ng-template>
        </tui-select>
      </label>
      <tui-error
        formControlName="eductionAdministration"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field" *ngIf="selectedParty == 2">
      <label>
        <tui-select formControlName="alAzhar" [stringify]="azharStringify">
          الأدارة الفرعية
          <ng-template tuiDataList>
            <tui-data-list-wrapper
              *ngIf="showLoader(azharAdmins, ['governorate', 'affiliateParty']); else loading"
              emptyContent="أختر المحافظه و الجهة التابعه"
              [itemContent]="azharStringify | tuiStringifyContent"
              [items]="azharAdmins"
            >
            </tui-data-list-wrapper>
          </ng-template>
        </tui-select>
      </label>
      <tui-error
        formControlName="alAzhar"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field" *ngIf="selectedParty == 3">
      <label>
        <tui-select
          formControlName="affiliateClub"
          [stringify]="affiliateClubStringify"
          (ngModelChange)="selectAffiliateClub()"
        >
          نادي/مركز شباب
            <ng-template tuiDataList>
              <tui-data-list-wrapper
                *ngIf="showLoader(affiliateClubs); else loading"
                emptyContent="أختر الجهة التابعه"
                [itemContent]="affiliateClubStringify | tuiStringifyContent"
                [items]="affiliateClubs"
              >
              </tui-data-list-wrapper>
            </ng-template>
        </tui-select>
      </label>
      <tui-error
        formControlName="affiliateClub"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
  </div>

  <div class="tui-form__row tui-form__row_multi-fields">
    <div
      class="tui-form__multi-field"
      *ngIf="affiliateClub === 'club' && selectedParty == 3"
    >
      <label>
        <tui-select formControlName="club" [stringify]="clubStringify">
          نادي
          <ng-template tuiDataList>
            <tui-data-list-wrapper
              *ngIf="showLoader(clubs, ['governorate', 'affiliateClubs']); else loading"
              emptyContent="أختر المحافظه"
              [itemContent]="clubStringify | tuiStringifyContent"
              [items]="clubs"
            >
            </tui-data-list-wrapper>
          </ng-template>
        </tui-select>
      </label>
      <tui-error
        formControlName="district"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div
      class="tui-form__multi-field"
      *ngIf="affiliateClub === 'youthCenter' && selectedParty == 3"
    >
      <label>
        <tui-select
          formControlName="youthCentre"
          [stringify]="youthCenterStringify"
        >
          مركز الشباب
          <ng-template tuiDataList>
            <tui-data-list-wrapper
              *ngIf="showLoader(youthCenters, ['district', 'affiliateClubs']); else loading"
              emptyContent="أختر الحي"
              [itemContent]="youthCenterStringify | tuiStringifyContent"
              [items]="youthCenters"
            >
            </tui-data-list-wrapper>
          </ng-template>
        </tui-select>
      </label>
      <tui-error
        formControlName="district"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field">
      <tui-input-date
        formControlName="dob"
        tuiUnfinishedValidator="Finish filling the field"
        tuiDropdownAlign="right"
        style="text-align: right"
        [readOnly]="true"
      >
        تاريخ الميلاد
      </tui-input-date>
    </div>
  </div>

  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <p>النوع</p>
      <div class="radioContainer">
        <div class="label-container">
          <div class="label">
            <tui-radio
              formControlName="female"
              [item]="false"
              size="l"
              [readOnly]="true"
            ></tui-radio>
            <p>ذكر</p>
          </div>
          <div class="label">
            <tui-radio
              formControlName="female"
              [item]="true"
              size="l"
              [readOnly]="true"
            ></tui-radio>
            <p>انثي</p>
          </div>
        </div>
      </div>
    </div>

    <div class="tui-form__multi-field">
      <div class="radioContainer">
        <p>الديانة</p>
        <div class="label-container">
          <div class="label">
            <tui-radio
              formControlName="muslim"
              [item]="true"
              size="l"
            ></tui-radio>
            <p>مسلم</p>
          </div>
          <div class="label">
            <tui-radio
              formControlName="muslim"
              [item]="false"
              size="l"
            ></tui-radio>
            <p>مسيحى</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="tui-form__row tui-form__row_multi-fields"
    style="align-items: flex-end"
  >
    <div class="tui-form__multi-field">
      <div class="radioContainer">
        <p>هل لديك اعاقه؟</p>
        <div class="label-container">
          <div class="label">
            <tui-radio
              formControlName="hasDisability"
              (ngModelChange)="showDisabilityTypeDropdown()"
              [item]="true"
              size="l"
            ></tui-radio>
            <p>نعم</p>
          </div>
          <div class="label">
            <tui-radio
              formControlName="hasDisability"
              (ngModelChange)="showDisabilityTypeDropdown()"
              [item]="false"
              size="l"
            ></tui-radio>
            <p>لا</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tui-form__multi-field" *ngIf="disabilitySelected === true">
      <tui-select
        formControlName="disabilityType"
        class="b-form"
        [valueContent]="selectedDisability"
      >
        نوع الأعاقة
        <ng-template tuiDataList>
          <tui-data-list>
            <button
              *ngFor="let disabilitiy of disabilities"
              tuiOption
              [value]="disabilitiy.englishName"
              (click)="selectedDisability = disabilitiy.arabicName"
            >
              {{ disabilitiy.arabicName }}
            </button>
          </tui-data-list>
        </ng-template>
      </tui-select>
      <tui-error
        formControlName="disabilityType"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
  </div>

  <div class="tui-form__row" style="justify-content: flex-end">
    <button
      type="submit"
      tuiButton
      [disabled]="isFormValid()"
      appearance="secondary"
    >
      التالي
    </button>
  </div>
</form>
