<form [formGroup]="basicInfoForm" (ngSubmit)="next()">
  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <tui-input
        tuiTextfieldCustomContent=""
        formControlName="fullName"
        class="input"
      >
        الأسم
        <span class="tui-required"></span>
      </tui-input>
      <tui-error [error]="arabicOnlyError"></tui-error>
      <tui-error
        formControlName="fullName"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field">
      <tui-input
        formControlName="nationalId"
        class="input"
        [maskito]="maskOptions"
      >
        الرقم القومي
        <span class="tui-required"></span>
      </tui-input>
      <tui-error [error]="nationalIDError"></tui-error>
      <tui-error
        formControlName="nationalId"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
  </div>

  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <label>
        <tui-combo-box
            formControlName="governorate"
            (ngModelChange)="getDistricts()"
            [stringify]="govStringify"
        >
        المحافظه
        <tui-data-list-wrapper
            *tuiDataList
            emptyContent="جاري تحميل المحافظات"
            [itemContent]="govStringify | tuiStringifyContent"
            [items] = "govs | tuiFilterByInputWith: govStringify"
        >
        </tui-data-list-wrapper>
      </tui-combo-box>
      </label>
      <tui-error
        formControlName="governorate"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field">
      <label>
        <tui-select
            formControlName="district"
            (ngModelChange)="districtSelected()"
            [stringify]="districtStringify"
            >
            الحي
            <tui-data-list-wrapper
            emptyContent="أختر المحافظه"
            *tuiDataList
            [itemContent]="districtStringify | tuiStringifyContent"
            [items] = "districts"
        >
        </tui-data-list-wrapper>
        </tui-select>
      </label>
      <tui-error
        formControlName="district"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
  </div>

  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <label>
        <tui-select
            formControlName="affiliateParty"
            (ngModelChange)="setPartyDropdown()"
            [stringify]="affiliatePartyStringify"
            >
            الجهة التابعه
            <tui-data-list-wrapper
            emptyContent="أختر المحافظه"
            *tuiDataList
            [itemContent]="affiliatePartyStringify | tuiStringifyContent"
            [items] = "affiliateParties"
        >
        </tui-data-list-wrapper>
        </tui-select>
      </label>
      <tui-error
        formControlName="affiliateParty"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field" *ngIf="selectedParty == 1">
      <label>
        <tui-select
            formControlName="eductionAdministration"
            [stringify]="eduAdminStringify"
            >
            الأدارة التعليميه
            <tui-data-list-wrapper
            emptyContent="أختر الجهة التابعه"
            *tuiDataList
            [itemContent]="eduAdminStringify | tuiStringifyContent"
            [items] = "eduAdmins"
        >
        </tui-data-list-wrapper>
        </tui-select>
      </label>
      <tui-error
        formControlName="eductionAdministration"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field" *ngIf="selectedParty == 2">
      <label>
        <tui-select
            formControlName="alAzhar"
            [stringify]="azharStringify"
            >
            الأدارة الفرعية
            <tui-data-list-wrapper
            emptyContent="أختر الجهة التابعه"
            *tuiDataList
            [itemContent]="azharStringify | tuiStringifyContent"
            [items] = "azharAdmins"
        >
        </tui-data-list-wrapper>
        </tui-select>
      </label>
      <tui-error
        formControlName="alAzhar"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field" *ngIf="selectedParty == 3">
      <label>
        <tui-select
            formControlName="affiliateClub"
            [stringify]="affiliateClubStringify"
            (ngModelChange)="selectAffiliateClub()"
            >
            نادي/مركز شباب
            <tui-data-list-wrapper
            emptyContent="أختر الجهة التابعه"
            *tuiDataList
            [itemContent]="affiliateClubStringify | tuiStringifyContent"
            [items] = "affiliateClubs"
        >
        </tui-data-list-wrapper>
        </tui-select>
      </label>
      <tui-error
        formControlName="affiliateClub"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

  </div>
  
  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field" *ngIf="affiliateClub === 'club' && selectedParty == 3">
      <label>
        <tui-select
            formControlName="club"
            [stringify]="clubStringify"
            >
            نادي
            <tui-data-list-wrapper
            emptyContent="أختر المحافظه"
            *tuiDataList
            [itemContent]="clubStringify | tuiStringifyContent"
            [items] = "clubs"
        >
        </tui-data-list-wrapper>
        </tui-select>
      </label>
      <tui-error
        formControlName="district"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field" *ngIf="affiliateClub === 'youthCenter' && selectedParty == 3">
      <label>
        <tui-select
            formControlName="youthCentre"
            [stringify]="youthCenterStringify"
            >
            مركز الشباب
            <tui-data-list-wrapper
            emptyContent="أختر الحي"
            *tuiDataList
            [itemContent]="youthCenterStringify | tuiStringifyContent"
            [items] = "youthCenters"
        >
        </tui-data-list-wrapper>
        </tui-select>
      </label>
      <tui-error
        formControlName="district"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field">
      <tui-input-date
        formControlName="dob"
        tuiUnfinishedValidator="Finish filling the field"
        tuiDropdownAlign="right"
        style="text-align: right"
        [readOnly]="true"
      >
        تاريخ الميلاد
      </tui-input-date>
    </div>
  </div>

  <div class="tui-form__row tui-form__row_multi-fields">

    <div class="tui-form__multi-field">
      <p>النوع</p>
      <div class="radioContainer">
        <div class="label-container">
          <div class="label">
            <tui-radio
              formControlName="female"
              [item]=false
              size="l"
              [readOnly]="true"
            ></tui-radio>
            <p>ذكر</p>
          </div>
          <div class="label">
            <tui-radio
              formControlName="female"
              [item]=true
              size="l"
              [readOnly]="true"
            ></tui-radio>
            <p>انثي</p>
          </div>
        </div>
      </div>

    </div>

    <div class="tui-form__multi-field">
      <div class="radioContainer">
        <p>الديانة</p>
        <div class="label-container">
          <div class="label">
            <tui-radio
              formControlName="muslim"
              [item]=true
              size="l"
            ></tui-radio>
            <p>مسلم</p>
          </div>
          <div class="label">
            <tui-radio
              formControlName="muslim"
              [item]=false
              size="l"
            ></tui-radio>
            <p>مسيحى</p>
          </div>
        </div>
      </div>

    </div>



  </div>

  <div class="tui-form__row tui-form__row_multi-fields" style="align-items: flex-end;">
    <div class="tui-form__multi-field">
      <div 
      class="radioContainer"
      >
        <p>هل لديك اعاقه؟</p>
        <div class="label-container">
          <div class="label">
            <tui-radio
              formControlName="hasDisability"
              (ngModelChange)="showDisabilityTypeDropdown()"
              [item]=true
              size="l"
            ></tui-radio>
            <p>نعم</p>
          </div>
          <div class="label">
            <tui-radio
              formControlName="hasDisability"
              (ngModelChange)="showDisabilityTypeDropdown()"
              item=false
              size="l"
            ></tui-radio>
            <p>لا</p>
          </div>
        </div>
      </div>

    </div>
    <div class="tui-form__multi-field" *ngIf="disabilitySelected === true">
        <tui-select
            formControlName="disabilityType"
            class="b-form"
            [valueContent]="selectedDisability"
            >
            نوع الأعاقة
            <ng-template tuiDataList>
            <tui-data-list>
                <button
                    *ngFor="let disabilitiy of disabilities"
                    tuiOption
                    [value]="disabilitiy.englishName"
                    (click)="selectedDisability=disabilitiy.arabicName"
                >
                    {{ disabilitiy.arabicName }}
                </button>
              </tui-data-list>
            </ng-template>
        </tui-select>
      <tui-error
        formControlName="disabilityType"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
  </div>

  <div class="tui-form__row" style="justify-content: flex-end">
    <button
    type="submit"
    tuiButton
    [disabled]="basicInfoForm.invalid"
    appearance="secondary">التالي</button>
  </div>
</form>

