<form [formGroup]="eduQualsForm" (ngSubmit)="next()">
  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <label>
        <tui-combo-box
          formControlName="educationalLevel"
          class="input"
        >
          المرحله الدراسية

          <tui-data-list-wrapper
            [items]="[1, 2, 3]"
            *tuiDataList
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </label>
      <tui-error
        formControlName="educationalLevel"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field">
      <label>
        <tui-combo-box
          formControlName="academicYear"
          class="input"
        >
          السنه الدراسية

          <tui-data-list-wrapper
            [items]="[1, 2, 3]"
            *tuiDataList
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </label>
      <tui-error
        formControlName="academicYear"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
  </div>
  <div class="tui-form__row">
    <tui-input
      tuiTextfieldCustomContent=""
      formControlName="schoolName"
      class="input"
    >
      اسم المدرسة
      <span class="tui-required"></span>
    </tui-input>
    <tui-error
      formControlName="schoolName"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </div>
  <div class="tui-form__row">
    <tui-textarea
      class="input"
      formControlName="coursesName"
    >
      أذكر الدورات التدربية التي حصلت عليها
      <textarea tuiTextfield></textarea>
    </tui-textarea>
  </div>
  <div class="br"></div>
  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <label>
        <tui-combo-box
          formControlName="language"
          class="input"
        >
          اللغة

          <tui-data-list-wrapper
            *tuiDataList
            [items]="langs"
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </label>
      <tui-error
        formControlName="language"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field">
      <label>
        <tui-combo-box
          formControlName="languageLevel"
          class="input"
        >
          مستوي اللغة

          <tui-data-list-wrapper
            *tuiDataList
            [items]="langsLevel"
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </label>
      <tui-error
        formControlName="languageLevel"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field">
      <button tuiButton (click)="addLanguage()">أضافة</button>
    </div>
  </div>
  <tui-tag
    status="primary"
    [hoverable]="true"
    size="l"
    class="tui-space_left-2 tui-space_top-5"
    *ngFor="let lang of languages; let index = index"
    [removable]="true"
    [value]="lang.name"
    (edited)="handleTagDeleted($event, index)"
  ></tui-tag>

  <div
    class="tui-form__row"
    style="display: flex; justify-content: flex-end; gap: 0.5rem"
  >
    <button
      type="button"
      (click)="back()"
      tuiButton
      appearance="secondary"
    >
      السابق
    </button>
    <button
      tuiButton
      [disabled]="eduQualsForm.invalid"
      appearance="secondary"
      type="submit"
    >
      التالي
    </button>
  </div>
</form>
