<form [formGroup]="eduQualsForm">
  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
      <label>
        <tui-combo-box
          formControlName="educationalLevel"
          tuiTextfieldLabelOutside="true"
          class="input"
        >
          السنه الدراسية

          <tui-data-list-wrapper
            *tuiDataList
            [itemContent]="stringify | tuiStringifyContent"
            [items]="items | tuiFilterByInputWith : stringify"
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </label>
      <tui-error
        formControlName="educationalLevel"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="tui-form__multi-field">
      <label>
        <tui-combo-box
          formControlName="educationalLevel"
          tuiTextfieldLabelOutside="true"
          class="input"
        >
          المرحله الدراسية

          <tui-data-list-wrapper
            *tuiDataList
            [itemContent]="stringify | tuiStringifyContent"
            [items]="items | tuiFilterByInputWith : stringify"
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </label>
      <tui-error
        formControlName="educationalLevel"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
  </div>
  <div class="tui-form__row">
    <tui-input
      tuiTextfieldCustomContent=""
      formControlName="schoolName"
      class="input"
    >
      اسم المدرسة
      <span class="tui-required"></span>
    </tui-input>
    <tui-error
      formControlName="schoolName"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </div>
</form>
