.container {
    position: relative;
    height: 100%;
    width: 100%;
}
.card-img {
    width: 20rem;
    height: auto;
    margin: 1rem;
}

@media (max-width: 625px) {
    .container {
        width: 93vw;
    }
    
}