<div class="container">
  <tui-island size="l" class="tui-col_md-4 container" textAlign="center">
      <div class="tui-island__content">
        <figure class="tui-island__figure">
            <img class="card-img" src="../.../../../../../assets/images/2.svg" alt="Form illustration">
          <div class="some-figure"></div>
        </figure>
        <div>
          <h3 class="tui-island__title" >حاله الطلب: {{requestValue}} </h3>
          <button
            appearance="flat"
            size="m"
            tuiButton
            type="button"
            class="tui-island__footer-button"
            (click)="startApplication()"
            [value]="statusValue"
            [disabled]="showBtn"
          >
          {{statusValue}}
        </button>
        </div>
      </div>
    </tui-island>
</div>
