:root {
    --tui-font-text: 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
}

.logo, .user {
    display: flex;
    align-items: center;
    direction: rtl;
    margin: 0 1rem;
    gap: 0.5rem;
}

.logo img {
    height: 50px;
    width: auto;
}

.logo p {
    font-size: 30px;
    font-weight: 600;
    margin: 0.5rem 0;
}

.user p {
    /* font-size: 15px; */
    font-weight: 600;
}

nav {
    width: 98%;
    position: relative;
    /* background-color: var(--accent-color); */
    background-color: #7ac5aa;
    margin: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}