<nav>
  <div class="logo">
    <img 
    src="../../../../assets/images/logo.png"
    alt="logo"
    routerLink="[/home]"
    style="cursor: pointer;"
    />
    <p>المنصة الأنتخابية</p>
  </div>

  <tui-hosted-dropdown [content]="content">
    <div class="user">
      <tui-marker-icon size="s" src="tuiIconUser"></tui-marker-icon>
      <p>معلوماتي</p>
    </div>
  </tui-hosted-dropdown>
  <ng-template #content>
    <tui-data-list role="menu">
        <a
          tuiOption
          role="menuitem"
          class="rtl"
        >
          تغير كلمه المرور
        </a>
        <a
          tuiOption
          role="menuitem"
          class="rtl"
        >
          تسجيل الخروج
        </a>
    </tui-data-list>
  
  </ng-template>
</nav>
