<div class="container">
  <!-- <nav>
    <div class="logo">
      <img src="../../../../assets/images/logo.png" alt="logo" />
      <p>المنصة الأنتخابية</p>
    </div>

    <div class="user">
      <tui-marker-icon size="s" src="tuiIconUser"></tui-marker-icon>
      <p>معلوماتي</p>
    </div>
  </nav> -->
  <app-header></app-header>

  <div class="page-content">
    <tui-island size="l" class="tui-col_md-4" textAlign="center">
      <div class="tui-island__content">
        <figure class="tui-island__figure">
            <!-- <img class="card-img" src="../.../../../../../assets/images/home-illustration.svg" alt="Complete form illustration"> -->
            <img class="card-img" src="../.../../../../../assets/images/2.svg" alt="Complete form illustration">
          <div class="some-figure"></div>
        </figure>
        <div>
          <h3 class="tui-island__title">حاله الطلب: غير مكتمل</h3>
          <!-- <p class="tui-island__paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p> -->
          <button
            appearance="flat"
            size="m"
            tuiButton
            type="button"
            class="tui-island__footer-button"
          >
            أستكمال الطلب
          </button>
        </div>
      </div>
    </tui-island>
  </div>
</div>
