
tui-island {
    padding: 2rem;

}

tui-stepper {
    margin-bottom: 2rem;
    justify-content: space-between;
}


tui-stepper button {
    margin-right: 0;
    gap: 0.75rem;
}

tui-stepper button:first-child {
    margin-right: -0.75rem;
}

body {
    width: 100%;
}

/* .container {
    width: 65vw;
} */

@media (max-width: 770px) {
    .container {
        width: 93vw;
    }
    
}