/* .container {
    position: relative;
    width: 96.7vw;
    display: flex;
} */

tui-island {
    padding: 2rem;
    position: relative;
    width: 100%;
}

tui-stepper {
    margin-bottom: 2rem;
    /* display: flex; */
    justify-content: space-between;
}

/* a {
    margin: 0 2rem;
} */