<div class="container">
  <div class="tui row">
    <tui-island textAlign="right">
      <tui-stepper class="rtl">
        <button
          (click)="navigator('main-data')"
          routerLinkActive
          tuiStep
          [stepState]="getMainDataState()"
        >
          البيانات الأساسية
        </button>
        <button
          (click)="navigator('contact-data')"
          routerLinkActive
          [stepState]="getContactState()"
          [disabled]="!(getMainDataState() == 'pass')"
          tuiStep
        >
          طرق التواصل
        </button>
        <button
          (click)="navigator('edu-qualifications')"
          [disabled]="!(getContactState() == 'pass')"
          [stepState]="getEduQualsState()"
          routerLinkActive
          tuiStep
        >
          المؤهل الدراسي
        </button>
        <button
          (click)="navigator('attachments')"
          [stepState]="getAttachmentsState()"
          [disabled]="!(getEduQualsState() == 'pass')"
          routerLinkActive
          tuiStep
        >
          المرفقات
        </button>
        <button
          (click)="navigator('confirmation')"
          routerLinkActive
          [disabled]="!(getAttachmentsState() == 'pass')"
          tuiStep
        >
          تأكيد
        </button>
      </tui-stepper>
      <router-outlet></router-outlet>
    </tui-island>
  </div>
</div>
