<form [formGroup]="contactDataForm" (ngSubmit)="next()">
  <div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
  <tui-input
  formControlName="phoneNumber"
  [maskito]="maskOptions"
  class="input"
>
رقم الهاتف الأول
<input
      inputmode="numeric"
      tuiTextfield
  />
</tui-input>

      <tui-error
        formControlName="phoneNumber"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <div class="tui-form__multi-field">
      <tui-input
      formControlName="secondNumber"
      [maskito]="maskOptions"
      class="input"
    >
    رقم الهاتف الثاني
    <input
          inputmode="numeric"
          tuiTextfield
      />
    </tui-input>
      <tui-error
        formControlName="secondNumber"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
  </div>
  <div class="tui-form__row">
    <tui-textarea
      tuiHintContent="معلومات شخصيه"
      tuiHintDirection="bottom-right"
      class="input"
      formControlName="address"
      [maxLength]="100"
      tuiTextfieldCleaner="true"
    >
      عنوان السكن بالتفصيل (مدينة - شارع - رقم منزل)
      <textarea tuiTextfield></textarea>
    </tui-textarea>
    <tui-error
      formControlName="address"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </div>
  <div
    class="tui-form__row"
    style="display: flex; justify-content: flex-end; gap: 0.5rem"
  >
    <button
      type="button"
      routerLink="../main-data"
      tuiButton
      appearance="secondary"
    >
      السابق
    </button>
    <button
    tuiButton
    [disabled]="contactDataForm.invalid"
    appearance="secondary"
    type="submit">التالي</button>
  </div>
</form>
