/* .login-card {
    background-color: var(--tui-support-03);
} */

.container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.left-side {
    /* background-color: var(--bg-color); */
    background-image: url(../../../../assets/images/parliment-login.jpg);
    display: flex;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 95%;
    margin: 1rem;
    margin-left: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 25rem;
    border-radius: 15px;
}

.right-side {
    position: relative;
    margin: 1rem;
    margin-right: 0;
    height: 95%;
    width: calc(100% - 25rem);
}

.login-box {
    position: relative;
    width: 100%;
    height: 100%;
}


.logo {
    height: 20rem;
    width: auto;
}

.rtl { 
    direction: rtl;
    text-align: right;
}

.input {
    /* width: 20rem; */
    direction: rtl;
    text-align: right;
    margin-bottom: 1rem;
}

.btn {
    background-color: black;
    border-radius: 10px;
    padding: 2px 16px;
    color: white;
    font-size: 15px;
    border: 0;
    outline: 0;
    font-family: var(--main-font);
}

.btn:hover {
    background-color: rgb(49, 49, 49)
}

.btn:active {
    background-color: rgb(43, 43, 43);
} 

.card {
    /* background-color: var(--accent-color); */
    height: 96%;
    /* color: var(--accent-color);
    border-radius: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-text {
    font-size: x-large;
}

h3, p {
    font-family: var(--main-font);
}

.login-help {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}