/* You can add global styles to this file, and also import other style files */

:root {
    --main-font: 'HelveticaNeueLT Arabic 55 Roman','IBM Plex Sans Arabic', sans-serif;
    --accent-color: #f5a091;
    --bg-color: #f8f7f4;
    --tui-font-text: 'HelveticaNeueLT Arabic 55 Roman', sans-serif;
}

:host {
    --tui-font-text: var(--main-font);
}


body {
    font-family: var(--main-font) !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: var(--bg-color) !important;
}

.rtl {
    direction: rtl;
}